.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  margin-right: 2vw;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.tab_usuario{
  margin-top: 2vh;
  margin-left: 9vw;
  width: 80vw;
  height: 8vh;
  display: flex;
  align-items: center;
  border-radius: 50px;
  background-color: #e1e1e1;
}

.nome{
  width: 30vw;
  height: 7vh;
  display: block;
  align-items: center;
  margin-right: 22vw;
}

.nome p{
  font-size: 2.5vh;
  margin: 0;
  height: 3.8vh;
}

.perfil{
  width: 3.6vw;
  height: 8vh;
  border-radius: 50px;
  margin: 0.25vw;
  padding: 0px;
  border: #1b88f5 solid;
}

.botao_lixeira{
  width: 2vw;
  height: 6vh;
  background-color: #e1e1e1; 
  padding: 0px;
}

.botao_editar{
  width: 6vw;
  height: 6vh;
  background-color: #e1e1e1; 
  color: #1b88f5; 
  border: 2px solid #1b88f5;
  border-radius: 10px;
  padding: 0px;
  margin-right: 2vw;
}

.botao_editar:hover {
  background-color: #1b88f5;
  color: white;
}

.botao_editar:active{
  background-color: #143057;
  border: 2px solid #143057;
}

.novo_usuario{
  height: 7vh
  padding: 0px;
  float: right;
  background-color: #1b88f5;
  color: white;
  font-weight: bold;
  font-size: 15px;
  border-radius: 5px;
  border: 1px solid #1b88f5;
}

.novo_usuario:active {
  background-color: #143057;
  border: 1px solid #143057;
}

button{
  border: none;
  color: #1b88f5;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}