/*div principal*/
#titulo_erro{
    display: flex;
    width: 100%;
    height: 40vh;
    justify-content: center;
    align-items: center;
}

/*box background*/
#box_numero{
    display: flex;
    width: auto;
    padding-left: 2vw;
    padding-right: 2vw;
    height: auto;
    box-shadow: 0 0 10px 10px var(--cinza-bem-claro);
    border-radius: 8px;
    outline: solid var(--cinza-bem-claro);
    background-color: var(--cinza-bem-claro);
}

/*div para cada numero*/
#numero{
    text-align: center;
    height: 40vh;
    width: 10vw;
}

/*números em si*/
#numero h1{
    height: 30vh;
    font-size: 30vh;
    margin: 0;
}

/*Div do subtitulo*/
#subtitulo{
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*Texto do subtitulo*/
#subtitulo h1{
    max-width: 50vw;
    text-align: center;
    word-wrap: break-word;
    white-space: -moz-pre-wrap;
    white-space: pre-wrap;
}

html{
	-webkit-user-select: none;	
  	-ms-user-select: none;
  	user-select: none;
}

/*div{outline: solid black;}