.switch {
  position: relative;
  display: inline-block;
  width: 4vw;
  height: 4vh;
  margin-right: 2vw;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--cinza-claro-borda);
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 2vh;
}

.nome{
  margin-left: 10px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 4vh;
  width: 4vh;
  background-color: var(--branco);
  -webkit-transition: .4s;
  transition: 0.5s;
  right: 50%;
}

input:checked + .slider {
  background-color: var(--dodger-blue-600);
}

input:focus + .slider {
  box-shadow: 0 0 1px var(--dodger-blue-600);
}

input:checked + .slider:before {
  right: 0;
}

.slider.round:before {
  border-radius: 50%;
  height: 100%;
}

#top{
  display:flex;
  padding: 0;
  height: 7vh;
}

#top_h1{
  margin-left:10vw;
  height: 7vh;
  margin-right: 60.5%;
}

.tab_usuario{
  margin-top: 1.2vw;
  margin-left: 9vw;
  width: 80vw;
  height: 8vh;
  display: flex;
  align-items: center;
  border-radius: 50px;
  background-color: var(--cinza-bem-claro);
}

.sub_tab{
  display: flex;
  justify-content: space-between;
  width: 72vw;
}

.nome{
  position: relative;
  width: 30vw;
  height: 7vh;
  display: block;
  align-items: center;
}

.nome p{
  font-size: 2.5vh;
  margin: 0;
  height: 3.8vh;
}

.perfil{
  width: 8vh;
  height: 8vh;
  border-radius: 50px;
  padding: 0;
  border: var(--dodger-blue-600) solid;
  background-color: var(--branco);
}

.botao_lixeira{
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  margin-left: 1vw;
  padding: 0;
}

.botao_lixeira img{
  width: 7vh;
  height: 7vh;
}

.botao_editar,.novo_usuario {
  overflow: hidden;
  align-self: center;
  width: fit-content;
  min-width: 100%;
  height: fit-content;
  min-height: 6vh;
  background-color: var(--branco); 
  color: var(--dodger-blue-600); 
  border: 2px solid var(--dodger-blue-600);
  border-radius: 0.7vw;
  padding: 0;
  margin-right: 2vw;
}

.botao_editar:hover, .novo_usuario:hover{
  background-color: var(--dodger-blue-600);
  color: var(--branco);
}

.botao_editar:active, .novo_usuario:active{
  background-color: var(--dodger-blue-950);
  border: 2px solid var(--dodger-blue-950);
}

.gerenciar{
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
}