.head{
    display: flex;
    justify-content: center;
    align-items: center;
}

.head h1{
    margin-right: 75%;
}

.base{margin:50px}

.botao{
    overflow: hidden;
    align-self: center;
    width: 10vw;
    height: 6vh;
    background-color: var(--branco); 
    color: var(--dodger-blue-600); 
    border: 2px solid var(--dodger-blue-600);
    border-radius: 0.7vw;
    padding: 0;
    margin-right: 2vw;
}
  
.botao:hover{
    background-color: var(--dodger-blue-600);
    color: var(--branco);
}
  
.botao:active{
    background-color: var(--dodger-blue-950);
    border: 2px solid var(--dodger-blue-950);
}

#icones{
    margin:10px;
    width:30px;
}

#nome{
    width: 70%;
}

#lixeira{
    margin-left: 5%;
}

.tabela_dados{
    margin-top: 20px;
}