#botao_filtro{
    margin-top: 30px;
    background-color: var(--dodger-blue-500);
    color: var(--preto);
}
.menu_botoes{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

input{
    color: var(--dodger-blue-900);
    text-align: center;
    border-radius: 3px;
    width: 90%;
    border: 2px solid var(--dodger-blue-500);
}
/*Estilização da tabela*/
.tabela_dados{
    margin-top: 30px;
    width: 100%;
    text-align: center;
    border: 1px solid black;
    border-collapse: collapse;
}
th{
    background-color:var(--dodger-blue-600);
    color: var(--branco);
}
td, th {
    width: 10em;
    border: 1px solid var(--dodger-blue-500);
}
tr:nth-child(even){
    background-color:var(--dodger-blue-100)
}