input, select{
	margin-bottom: 10vh;
	border-radius: 5px;
	border: var(--cinza-claro-borda) 2px solid;

}

input, label {
	display: table-cell;
}

label{margin-bottom: 0.4vw;}


input[type="date"]{
	height: 2.6vw;
}

input{
	margin: 0;
	width: 100%;
	height: 2.5vw;
	margin-bottom: 3vw;
	border: var(--cinza-claro-borda) 2px solid;
	border-radius: 8px;
}

input:active{
	border: var(--cinza-claro-borda) 2px solid;
	border-radius: 8px;
}

#un_medida{
	height: 2.5vw;
	margin-bottom: 3vw;
	border: var(--cinza-claro-borda) 2px solid;
	border-radius: 8px;
}

#item{
	width: 100%;
	height: 2.8vw;
	margin-bottom: 3vw;
	border: var(--cinza-claro-borda) 2px solid;
	border-radius: 8px;
}

button{
	height: 2.65vw;
	width: 100%;
	color: var(--dodger-blue-600); 
	border: 2px solid var(--dodger-blue-600);
	border-radius: 5px;
	background-color: var(--branco);
}

button:hover {
	background-color: var(--dodger-blue-600);
	color: white;
}

button:active{
	background-color: var(--dodger-blue-950);
	border: 2px solid var(--dodger-blue-950);
}

.coluna{
	display: flex;
	flex-direction: column;
  	justify-content: center;
	float: left;
	width: 45%;
	height: 50vh;
	font-size: 12px;
}

.linha{
	display: flex;
  	justify-content: center;
  	height: 70vh;
}

.junto input,select{
	width: 95%;
}

.coluna div{
	height: 15vh;
}

#main_div{
	justify-content: center;
	align-items: center;
}

#content_div{
	display: flex;
	width: 50%;
	justify-content: center;
	align-items: center;
	height: 50vh;
	background-color:var(--cinza-claro);
	padding: 3vw;
	border-radius: 3vw;
}

#label_inv{
	color: var(--cinza-claro);
}

.div_left{
	float: left;
	width: 50%;
}