table{
    margin-top: 30px;
}

.base{
    margin: 50px;
}

.menu_botoes{
    display: flex;
    justify-content: space-between;
    align-content: flex-start;
}

.botao{
    text-align: center;
    height: 50px;
    width: 17%;
    margin: 0.5em;
    background-color: var(--branco); 
    color: var(--dodger-blue-600); 
    border: 2px solid var(--dodger-blue-600);
    border-radius: 0.7vw;
    padding: 0;
}

.botao[type="date"]{
    width: 15vw;
}
  
.botao:not([type="date"]):hover{
    background-color: var(--dodger-blue-600);
    color: white;
}
  
.botao:not([type="date"]):active{
    background-color: var(--dodger-blue-950);
    border: 2px solid var(--dodger-blue-950);
}

.container,.checkmark_saida, .checkmark_entrada {
    margin-top: 0.25em;
    display: block;
    position: relative;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    height: 25px;
    width: 100px;
    text-align: center;
    border-radius: 0.7vw;
}

.checkmark_saida, .checkmark_entrada{
    padding: 10%;
    background-color: var(--branco); 
    color: var(--dodger-blue-600); 
    border: 2px solid var(--dodger-blue-600);
}

.container input {
    position: absolute;
    opacity: 0;
    height: 0;
    width: 0;
    z-index: 0;
}

.container input:checked ~ .checkmark_saida{
    border-color: var(--aviso);
    background-color: var(--aviso);
    color: var(--branco);
}

.container input:checked ~ .checkmark_entrada{
    border-color: var(--confirmacao);
    background-color: var(--confirmacao);
    color: var(--branco);
}

#data_inicio,#data_fim{
    height: 47px;
}

.datas{
    display: flex;
}