td[id="select"]{
    border: 0;
	background-color:var(--branco);
	width: 5%;
}

#select input{
	width: 80%;
	height: 100%;
}

#checkbox{
	text-justify: auto;
}

#select #checkbox{
	align-self: center;
	width: 1vw;
	height: 1vw;
}

.container{
	display: flex;
	justify-content: center;
	height: 50px;
}

button{
    text-align: center;
    height: 50px;
    width: 17%;
    margin: 0.5em;
    background-color: var(--branco); 
    color: var(--dodger-blue-600); 
    border: 2px solid var(--dodger-blue-600);
    border-radius: 0.7vw;
    padding: 0px;
}
  
button:hover{
    background-color: var(--dodger-blue-600);
    color: white;
}
  
button:active{
    background-color: var(--dodger-blue-950);
    border: 2px solid var(--dodger-blue-950);
}

.remocao{
	margin-right: 50%;
}

.remocao:hover{
    border-color: var(--aviso);
    background-color: var(--aviso);
    color: var(--branco);
}

.remocao:active{
    border-color: var(--aviso-escuro);
    background-color: var(--aviso-escuro);
}

.base{
	margin: 50px;
}

html{
	-webkit-user-select: none;	
  	-ms-user-select: none;
  	user-select: none;
}

input:focus {
    outline-width: 0;
}

select{
    width:15px;
    color: white;
    background: unset;
    border: none;
}

select:focus{
    outline:none;
}

option{
    color: black;
}

#campo_select{
    background-color:white;
    border:none
}