.base{margin:50px}

.botao{
    border: 2px solid var(--dodger-blue-500);
    border-radius: 3px;
    background-color: var(--branco);
    color: var(--dodger-blue-900);
    text-align: center;
    height: 50px;
    width: 17%;
    margin: 0.5em;
}

#icones{
    margin:10px;
    width:30px;
}

/*Estilização da tabela*/
.tabela_dados{
    margin-top: 30px;
    width: 100%;
    text-align: center;
    border: 1px solid black;
    border-collapse: collapse;
}
th{
    background-color:var(--dodger-blue-600);
    color: var(--branco);
}
td, th {
    border: 1px solid var(--dodger-blue-500);
}   
.td_un_medida, .td_tipo, .td_opcoes{
    width: 11em;
};