#combobox select{
	border: 1px solid black;
	border-radius: 10px;
	padding: 5px;
	height: 7vh;
	width: 50vw;
}

#tabela{
    width: 100%;
    text-align: center;
    border-collapse: collapse;
}

th{
    background-color:var(--dodger-blue-600);
    color: var(--branco);
}

td, th {
    width: 14vw;
    height: 3em;
    border: 1px solid var(--dodger-blue-500);
}

tr:nth-child(even){background-color:var(--dodger-blue-100)}

#checkbox{
	margin-top: auto;
	margin-bottom: auto;
	width: 20px;
	height: 20px;
	border: solid white;
	border-width: 0 2px 2px 0;);
	margin-right: 5px;
}

#botao{
	background-color: #de1839;
	color: white;
	font-weight: bold;
	font-size: 15px;
	border-radius: 5px;
	border: 1px solid #de1839;
	width: 24vw;
	height: 7vh;
	margin-left: 1vw;
}

#botao_pesquisa{
	background-color: #1b88f5;
	color: white;
	font-weight: bold;
	font-size: 15px;
	border-radius: 5px;
	border: 1px solid #de1839;
	width: 24vw;
	height: 7vh;
	margin-left: 1vw;
}

#checkbox_inutil{
	border: 0px solid white;
	text-align: right; 
	padding: 0px;
	background-color:var(--dodger-blue-400);
    color: var(--branco);
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 1px;
}

div{
	display: flex;
    justify-content: center;
    align-content: center;
}