input, select{
	margin-bottom: 10vh;
}

input, label {
	display: table-cell;
}

button{
	margin-top: 2vh;
	background-color: #1b88f5;
	color: white;
	font-weight: bold;
	font-size: 15px;
	border-radius: 3px;
	border: 1px solid #1b88f5;
	height: 3.5vh;
	cursor: pointer;
}

button:active{
	background-color: #1471e1;
}

.coluna{
	display: grid;
  	justify-content: center;
	float: left;
	width: 25vw;
	height: 50vh;
	font-size: 12px;
	margin-top: 15vh;
}

.linha{
	display: flex;
  	justify-content: center;
  	clear: both;
  	height: 70vh;
}

.junto input{
	width: 8vw;
}


.coluna div{
	height: 15vh;
}