.div_vertical{
	display: flex;
	flex-direction:column ;
}

.div_horizontal{
	display: flex;
	flex-direction:row ;
}

#main_div{
	justify-content: center;
	align-items: center;
	height: 60vh;
}

#div_dados{
	background-color:#d0d0d0cc;
	width: 40vw;
	height: 20vw;
	align-items: center;
	padding: 3vw;
	border-radius: 3vw;
}

#low_div{
	display: flex;
	flex-direction: row;
	justify-content: center;
	height: 6.5vw;
	width: 40vw;
	align-items: center;
}

#lower_div{
	display: flex;
	flex-direction: column;
	height: 6.5vw;
	width: 20vw;
}

#nome{margin-right: 2vw;}
#cpf{margin-right: 2vw;}

#email{margin-left: 2vw;}
#data_nascimento{margin-left: 2vw;}
#label_direita{margin-left: 2vw;}


label{margin-bottom: 0.4vw;}


input[type="date"]{
	height: 2.6vw;
}

input[type="radio"]{
	float:left;
	width: 1vw;
	height: 1vw;
	margin-bottom: 0.5vw;
}


input:not([type="radio"]){
	margin: 0;
	width: 15vw;
	height: 2.5vw;
	margin-bottom: 3vw;
	border: #d0d0d0 2px solid;
	border-radius: 8px;
}

.perfil{
	border: 8px #1b88f5 solid;
	border-radius: 34vw;
	transform: scale(0.35);
	width: 34vw;
	height: 34vw;
	margin-right: -5vw;
	margin-left: -10vw;
}

.botao_salvar{
  width: 10vw;
  height: 6vh;
  color: #1b88f5; 
  border: 2px solid #1b88f5;
  border-radius: 5px;
}

.botao_salvar:hover {
  background-color: #1b88f5;
  color: white;
}

.botao_salvar:active{
  background-color: #143057;
  border: 2px solid #143057;
}

html{
	-webkit-user-select: none;	
  	-ms-user-select: none;
  	user-select: none;
}