#botao_filtro{
    background-color: var(--dodger-blue-500);
    color: var(--preto);
}
#imagem_filtro{
    transform: scale(0.05);
}
.menu_botoes{
    display: flex;
    justify-content: space-between;
    align-content: flex-start;
}

.botao{
    text-align: center;
    height: 50px;
    width: 17%;
    margin: 0.5em;
}

/*Estilização da tabela*/
.tabela_dados{
    margin-top: 30px;
    width: 100%;
    text-align: center;
    border: 1px solid black;
    border-collapse: collapse;
}
th{
    background-color:var(--dodger-blue-600);
    color: var(--branco);
}
td, th {
    width: 10em;
    border: 1px solid var(--dodger-blue-500);
}
tr:nth-child(even){background-color:var(--dodger-blue-100)}